@media screen and (max-width: 485px) {
    h1.intro {
        color: #65def0; 
        font: bold 36px/1.5 "Cambria", serif;
    }
    
    
}

@media screen and (min-width: 486px) {
      h1.intro {
        color: red; 
        font: bold 36px/1.5 "Cambria", serif;
    } 
}